
/* style the input section */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #dadada;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    column-gap: 0px;
}
header>h1{
    text-align: center;
}
header{
    background-color: white;
    padding: 20px 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: solid #0284c7 2px ;
    border-radius:  15px;
    box-shadow: 5px 10px 8px #454545 ;
}
header>label{
    font-size: large;
    font-weight: 600;
    
}
input,select,option{
    padding:10px ;
    border-radius: 15px;
    border:2px solid grey;
    
}

header button{
    color: white;
    font-size: medium;
    padding: 10px ;
    border:1px solid #0284c7;
    border-radius: 15px;
    background-color: #0284c7;
    margin-top: 20px;
}



/* Style cards */


main{ 
 width: 50%;
display: flex;
justify-content: space-around;
background-color: white;
border: 1px solid#0284c7;
border-radius: 15px;

}

.edit{
    background-color: yellow;
    
}
.delete{
    background-color: red;
}

/* !!!!!!!!!!!!!!!!!!!!!! */

.task{
    width:  190px;
    padding: 20px;
    margin:10px 0px;
    display: flex;
    flex-direction: column;
     overflow-wrap: break-word;  
     row-gap: 10px;
}
.edit,.delete{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
}
.titleresult .descriptionresult{
   overflow-wrap: break-word;  
}
#pendingtask{
    border-radius: 15px;
    color: white;
    background-color: #F88379;
   

}
#completedtask{
    border:none;
    border-radius: 15px;
    color :white;
    background-color: #0BDA51;
  
}